#one{
background-color: bisque;
color: brown;
text-align: center;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: azure;
    padding: 10px;
}
.item{
    background-color: rgb(204, 58, 138);
    border: 1px solid black;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    margin: 2px;
}
a:hover{
    color: brown;
    
}
